@{
    ViewData["Title"] = "Inicio";
}
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1>Bienvenido a la Veterinaria</h1>
    <p>Usa la navegación para registrar mascotas o gestionar productos.</p>
    <a class="btn btn-primary" href="/Pets">Ir a Mascotas</a>
    <a class="btn btn-secondary" href="/Products">Ir a Productos</a>
</div>


